
/* Typography */

@font-face {
  font-family: 'poppins';
  src: url('fonts/Poppins-ExtraBold.woff2') format('woff2'),
       url('fonts/Poppins-ExtraBold.woff') format('woff'),
       url('fonts/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'amiri';
  src: url('fonts/Amiri-Regular.woff2') format('woff2'),
       url('fonts/Amiri-Regular.woff') format('woff'),
       url('fonts/Amiri-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

p, a, body {
  font-family: amiri, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  line-height: 1.5;
  color: #10231A;
}

h1, h2, h3, h4, h5, h6, .hero p, .button {
  font-family: poppins, Arial, Helvetica, Arial, sans-serif;
  letter-spacing: 0.2em;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.25;
  color: #10231A;
}

h1 {
  font-size: 36x;
}

.hero p {
  letter-spacing: 0.2em;
  font-size: 16px;
  position: absolute;
  top: 80px;
  left: 70px;
  font-weight: 600;
  text-transform: uppercase;
}

a {
  color: #000;
}

a:hover {
  color: #D48B96;
}

.button {
  padding: 12px 0;
}

.subtitle {
  font-size: 28px;
}

.footnote p {
  font-size: 14px;
}

/* Layout */

body {
  background-color: #FFF9F5;
}

img {
  max-width: 100%;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 0 16px;
}

.subtitle {
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 50px;;
}

.hero {
  max-width: 640px;
  position: relative;
}

.hero img {
  width: 100%;
  max-width: 480px;
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.content {
  padding: 50px 0;
  max-width: 480px;;
}

.footnote {
  max-width: 520px;
  margin: 0 auto;
  padding: 100px 0;
}